<% include partials/header %>
<h1>PROFILE</h1>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2><%=userdata.username%></h2>
                        <p><strong>Number: </strong> <%= userdata.mobile%> </p>
                        <p><strong>Coldstorage Capacity: </strong> <%= userdata.coldstorage%> </p>
                        <p><strong>Filled Coldstorage Capacity: </strong> <%= userdata.coldstorage_filled%> </p>
                        <p><strong>Normalstorage Capacity : </strong> <%= userdata.normalstorage%> </p>
                        <p><strong>Filled Normalstorage Capacity : </strong> <%= userdata.normalstorage_filled%> </p>
                        <p><strong>Location: </strong> <%= userdata.location%> </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!DOCTYPE HTML>
<html>

<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Normal Storage Stats"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0\" tonnes\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                        { y: 70, label: "Available" },
                        { y: 30, label: "Filled" }
                    ]
                }]
            });
            chart.render();

            var chart1 = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                title: {
                    text: "Cold Storage Stats"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0\" tonnes\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                        { y: 50, label: "Available" },
                        { y: 20, label: "Filled" }
                    ]
                }]
            });
            chart1.render();

        }
    </script>
</head>

<body>
    <div>
        <span id="chartContainer" style="height: 300px; width: 100%; position: absolute; left: 100px; bottom:px"></span>
        <br>
        <span id="chartContainer1" style="height: 290px; width: 100%; position: absolute; top:70px;left: 500px"></span>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
</body>

</html>
<% include partials/footer %>